<%- include('header.html') %>
  <main>
   <div class="page-title">
      <h2><%= __('Adverts') %></h2>
    </div>
    <div class="advert">
      
      <% adverts.forEach(product => { %>
        <img src="<%= product.photo %>" alt="<%=product.name%>">
        <ul>
          <li class ="p_name"><%= product.name %> </li>
          <li><%= __('Price') %>: <%= product.price %> € </li>
          <li>#<%= product.tags %> </li>
          <li class="status"> 
            <% if (product.sale) { %>
            <p><%= __('On sale') %></p>
            <button><%= __('Buy') %></button>
            <button class="offer"><%= __('Send an offer') %></button>
          <% } else { %>
            <p><%= __('Searching') %></p>
            <button><%= __('Sell') %></button>
            <button class="offer"><%= __('Send an offer') %></button>
          <% } %>
          </li>
        </ul>
        
      <% }) %>
    </div>
  </main>

  <%- include('footer.html') %>
