<%- include('header.html') %>
<div class="login-box">
    <form class="login-form"  method="post">
        <div>
            <label for="email"><%= __('Email') %></label>
        </div>
        <div>
            <input type="email" id="email" name="email" value="<%= email %>"placeholder="<%= __('Enter your email') %>">
        </div>
        <div>
            <label for="password"><%= __('Password') %></label>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="<%= __('Enter your password') %>">
        </div>
        <div class="error-message">
            <%= error %>
        </div>
        <div>
            <button  class="button-log" id="loginUserBttn" type="submit" ><%= __('Log In')%></button>
            <a href="/" class="button-cancel"><%= __('Cancel')%></a>
        </div>
    </form>
</div>
<%- include('footer.html') %>