body {
  width: 90%;
  height: 100vh;
  margin:0 auto;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
  font-size: 3rem;
}
.page-title {
  text-align: center;
  font-size: 2rem;
}

nav {
  background-color: #75d8c3;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
}
.advert {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}

.languages {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-size: 1rem;

}
.languages:hover {
  color: #ffffff;
  transition: background-color .1s linear;
}
.language-section{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-shadow: 0 2px 6px #000000;
  padding: 10px;
  background-color: #bb9be4;
}
img {
  height: 300px;
  width: 200px;
  margin: 20px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  max-width: 130px;

}
.p_name{
  font-weight: 600;
  margin-bottom: 5px;
}
.status {
  font-weight: 600;
  color: green;
}

button {
  background-color: lightgreen;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;

}
button:hover{
  background-color: green;
  transition: background-color .3s linear;
  
}
.offer {
  background-color: yellow;
}

footer {
  padding: 0.5rem;
  margin-top: auto;
  text-align: center;
  background-color: #b2d2f7;
}

