body {
  
  width: 90%;
  height: 100vh;
  margin:0 auto;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

a {
  color: #00B7FF;
}

img {
  height: 300px;
  width: 200px;
}
